.btn-botcamp{
    width: 280px;
    height: 50px;
    font-size: 20px;
    border-radius: 25px;
    color: #fff;
    background-color: #ee3e25;
    text-transform: uppercase;
    margin: 0px 47px 80px 50px;
}

.btn-botcamp:hover{
    color: #ee3e25;
    background-color: #fff;
   
}